*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

/* Background and text */
body {
  background-color: black;
}

h1 {
  color: aliceblue;
}

h4 {
  color: antiquewhite;
}

span {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: aliceblue;
}


.img-thumbnail {
  height: 280px;  
  width: 220px;    
  object-fit: cover; 
  border: 3px double aliceblue;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.img-thumbnail:hover {
  transform: scale(1.05);
}
