body {
  background-color: black;
}

h1 {
  color: aliceblue;
}

h4 {
  color: antiquewhite;
}

span {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: aliceblue;
}

img {
  height: 200px;
  width: 250px;
  border: 3px double aliceblue;
  cursor: pointer;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}
